.section-sc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-qs {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
}
.section-qs ul {
  list-style: DISC;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.list__item {
  display: flex;
  flex-direction: column;
  padding: 0;
  cursor: pointer;
}
.qs-ans {
  height: 0px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: hsl(233, 26%, 7%);
  overflow: hidden;
  transition: height ease-in 300ms;
}
.ans-show {
  height: auto;

  padding: 10px;
  margin-bottom: 5px;
}
.icon-rotate {
  transform: rotate(0deg);
}
.item__title {
  margin: 0;
  padding-block: 10px;
}
