.container {
  overflow: hidden;
  width: 100%;
  padding: 5%;
}
.container-table table {
  width: 100%;
  border-radius: 4px;
}
.container-table thead {
  border-radius: 4px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.container-table th,
.container-table td {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #000000;
}
.container-table tr {
  border-left: 1px solid #000;
}
.container-table th {
  text-align: left;
}
.container-table td {
  border-right: 1px solid rgb(0, 0, 0);
  transition: all ease 350ms;
}
.container-table th {
  border-right: 1px solid rgb(0, 0, 0);
}

.container-table tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.container-table td:hover {
  background-color: rgba(49, 29, 29, 0.363);
}
.container-table td {
  position: relative;
}
.container-table td:hover::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

@media screen and (max-width: 400px) {
  .container {
    padding: 15px;
    padding-bottom: 0;
  }
  .container-table td {
    padding: 7px;
    font-size: 0.6rem;
  }
  .container-table td:nth-child(n + 3) {
    display: none;
  }
}

@media (max-width: 769px) {
  /* Dispositivos de mayor tamaño */
  .container-table :td:nth-child(n + 4) {
    display: none;
  }
  .container {
    padding: 15px;
  }
}
