.mytable {
  width: 100%;
  max-width: 1000px;
  border-collapse: separate;
  border-spacing: 0 8px;
}
.mytable th:last-child {
  text-align: center;
}
.mytable th,
.mytable td {
  padding: 12px;

  text-align: left;
  border: 1px solid #ccc;
}

.mytable th {
  color: aliceblue;
  font-weight: bold;
  background-color: rgba(13, 40, 85, 0.6);
}

.mytable tr:first-child {
  background-color: rgb(13, 40, 85, 0.5);
}
.mytable tr:last-child {
  background-color: rgb(13, 40, 85, 0.2);
}
.mytable tr:nth-child(2) {
  background-color: rgb(13, 40, 85, 0.4);
}
.mytable tr:nth-child(3) {
  background-color: rgb(13, 40, 85, 0.3);
}

.mytable tbody tr td:not(:first-child) {
  text-align: center;
  padding: 10px;
  font-size: 1.1rem;
}
.mytable td[rowspan] {
  vertical-align: middle;
  border: none;
}
@media screen and (max-width: 730px) {
  .mytable {
    border: 0px;
    padding: 20px;
  }
  .mytable caption {
    font-size: 22px;
  }
  .mytable thead {
    display: none;
  }
  .mytable tr {
    margin-bottom: 8px;
    border-bottom: 3px solid #ddd;
    display: block;
    border-radius: 5px;
  }
  .mytable th,
  .mytable td {
    font-size: 12px;
  }
  .mytable td {
    display: block;
    border-bottom: 1px solid #ddd;
    text-align: right;
  }
  .mytable td:last-child {
    border-bottom: 0px;
  }
  .mytable td::before {
    content: attr(data-label);
    font-weight: 400;
    font-style: oblique;
    text-transform: capitalize;
    float: left;
    margin-right: 10px;
  }
  .mytable tbody tr td:not(:first-child) {
    text-align: right;
    font-weight: 600;
  }
  .mytable tbody tr td:first-child {
    text-align: center;
    font-size: 18px;
  }
}
