:root {
  --bar-width: 0;
}

.main-body {
  background: #f5edfa;
  min-height: 100vh;
}

.load-bar {
  width: 50%;
  background-color: #ccc;
  height: 10px;
  position: relative;
  margin: 1rem 0;
  overflow: hidden;
}

.load-bar::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: royalblue;
  width: var(--bar-width);
  height: 10px;
  transition: width ease 350ms;
}

.progress {
  display: block;
  background-color: royalblue;
  height: 10px;
  width: 0;
}
